#nav-bar {
    background-color: #66CA66;
    color: white;
}

#company-name{
    color: black;
}

body {
    padding : 0;
    margin  : 0;
}

.center-text {
    text-align:center;
}

.inline-class{
    display: inline;
}
